@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat:ital,wght@0,100;0,200;0,300;0,900;1,100;1,200;1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,300;1,400;1,600&family=Roboto:wght@400;700&family=Ubuntu:wght@300;400&display=swap");

.navbar-dark {
  background: linear-gradient(#cb77ec, #a25ab1 50px);
}

.logo {
  font-size: 40px;
  margin-left: 20px;
  color: #f6f4f7;
}
.title {
  color: rgb(252, 247, 247);
  padding: 0 30%;
  font-stretch: expanded;

  font-weight: 600;
  font-size: 26px;
}
