.introduction {
  color: #199461;
}

.allthe {
  color: #199461;
  text-transform: uppercase;
  text-align: center;
}

.navbar-brand {
  margin-left: 10px;
  margin-top: -10px;
  font-size: 30px;
}

.adminpor {
  margin-top: 25px;
  float: right;
  margin-right: 10px;
  background-color: #4ab6b6;
  color: aliceblue;
  border-radius: 20px;
}
