<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">Question</th>
      <th scope="col">Answer1</th>
      <th scope="col">Answer2</th>
      <th scope="col">Answer3</th>
      <th scope="col">Correct</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Question</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>
        <button class="btn btn-primary btn-sm">EDIT</button
        ><button class="btn btn-danger btn-sm mx-3">DEL</button>
      </td>
    </tr>
  </tbody>
</table>
